.border__1 {
    border: solid; /*рамка, ее параметры*/
    margin: 20px; /*внешнее расстояние межды границами экрана и рамкой*/
    padding: 10px; /*расстояние между контентом и рамкой внутри рамки*/
}

h1 {
    color: red;
    margin: 20px;
    padding: 10px;
}
.border__2 {
       border: 4mm ridge rgba(170, 50, 220, .6);
       margin: 20px;
       padding: 10px;
}
.border__3 {
    border: thick double;
    border-color: brown;
    margin: 20px;
    padding: 10px;
}
.border__4 {
    border: dotted;
    border-color: darkblue;
    margin: 20px;
    padding: 10px;
}
.border__5 {
    border: solid greenyellow;
    margin: 20px;
    padding: 10px;
    }
    .highlight {
        background-color: yellow;
    }
    .line {
        color: red;
    }